<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <appSettings>
    <add key="EnableJob" value="False"/>
    <add key="StartJobTime" value="03:00"/>
    <add key="SourcePath" value=""/>
    <add key="DestinationPath" value="C:\FTS\Logs\"/>
    <add key="LogPath" value="C:\FTS\archives.txt"/>
    <add key="IndexPath" value="I:\FTS_Merged"/>
    <add key="LimitUsedMemory" value="2000000000"/>
    <add key="URL" value="http:\\localhost:8080"/>
    <add key="InstallutilPath" value="C:\Windows\Microsoft.NET\Framework\v4.0.30319\installutil.exe"/>
  </appSettings>
</configuration>
