<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <appSettings>
    <add key="EnableJob" value="True"/>
    <add key="JobType" value="RunOnce"/> <!-- RunOnce, RunEverydayAtTime-->
    <add key="StartJobTime" value="03:00"/>
    <add key="SourcePath" value="\\srv3\fs\Production-Logs\"/>
    <add key="DestinationPath" value="C:\FTS\Logs\"/>
    <add key="LogPath" value="C:\FTS\archives.txt"/>
    <add key="IndexPath" value="c:\FTS\!Prod"/>
    <add key="LimitUsedMemory" value="2000000000"/>
    <add key="URL" value="http://localhost:5056"/>
    <add key="InstallutilPath" value="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\installutil.exe"/>
  </appSettings>
</configuration>
