<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <appSettings>
    <add key="EnableRelSearch" value="False"/>
    <add key="IndexCurrentMonth" value="False"/>
    <add key="EnableRobots" value="False"/>
    <add key="BoobenMode" value="True"/> <!-- temporary flag -->
    <add key="IndexPath" value="C:\FTS\!Prod"/>
    <add key="LimitUsedMemory" value="2000000000"/>
    <add key="InMemoryMode" value="False"/>
    <add key="URL" value="http://localhost:5056"/>
  </appSettings>
</configuration>
