@{
    ViewBag.Title = "Contact";
}
<h2>Contacts</h2>
<hr />
<h4>
    <p>
        This is <a href="https://github.com/Bazist/BH">open source</a> project under next <a href="https://github.com/Bazist/BH/blob/master/LICENSE">license</a>
    </p>
    <p>
        Feel free for contact us <a href="mailto:support@pikosec.com">support@pikosec.com</a>
    </p>
</h4>