
@using FTSearchWeb.Model

@model SearchResult

@{
    ViewBag.Title = "BH - Search in WS logs";
}

<!--
<div class="jumbotron">
    <p class="lead"></p>
</div>
-->

<div class="row">
    <div class="col-md-4">
        <h2>Search In Logs</h2>
        <hr />
        <p>
            <table border="0">
                <tr>
                    <td>
                        @using (Html.BeginForm("Search", "Home"))
                        {
                            <span>Searching: @Html.EditorFor(model => model.Phrase) <input type="submit" value="Search" /></span>
                        }
                    </td>
                </tr>
                <tr>
                    <td>
                        &nbsp;
                    </td>
                </tr>
                @if (Model.Results != null)
                {
                    if (Model.Results.Length > 0)
                    {
                        foreach (FTSearchWeb.BH.FTSearchResult res in Model.Results)
                        {
                            <tr>
                                <td nowrap>
                                    <a href="?f=@Url.Encode(res.Name)&t=@Model.Phrase"><span>@res.Name</span></a>
                                </td>
                            </tr>
                        }
                        <tr>
                            <td>
                                &nbsp;
                            </td>
                        </tr>

                        <tr>
                            <td nowrap>
                                <span>
                                    @if (Model.StartPage > 1)
                                    {
                                        <a href="?sp=@(Model.StartPage - SearchResult.PAGE_SIZE)&cp=@(Model.StartPage - SearchResult.PAGE_SIZE)&t=@Model.Phrase">&lt;&lt;&lt;</a><span>&nbsp;</span>
                                    }

                                    @for (int page = Model.StartPage; page < Model.StartPage + SearchResult.PAGE_SIZE; page++)
                                    {
                                        if (page != Model.CurrentPage)
                                        {
                                            <a href="?sp=@(Model.StartPage)&cp=@page&t=@Model.Phrase">@(page.ToString("00"))</a><span>&nbsp;</span>
                                        }
                                        else
                                        {
                                            @(page.ToString("00"))<span>&nbsp;</span>
                                        }
                                    }
                                    <a href="?sp=@(Model.StartPage + SearchResult.PAGE_SIZE)&cp=@(Model.StartPage + SearchResult.PAGE_SIZE)&t=@Model.Phrase">&gt;&gt;&gt;</a><span></span>
                                </span>
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td>
                                <span>Nothing found.</span>
                            </td>
                        </tr>
                    }
                }

            </table>
        </p>
    </div>
</div>